@use 'sass:string';
@use 'sass:map';
@use 'util' as *;

@function get-routes-for-page($page, $acc: [], $prefix: '') {
  @if type-of($page) == 'string' {
    @return join($acc, quote($prefix + $page));
  } @else {
    $prefix: $prefix + map-get($page, 'path');
    $children: map-get($page, 'children');

    $acc: join($acc, $prefix);

    @if not $children {
      @return (quote($prefix));
    } @else {
      // Sass interprets a single value array as a single value
      // so $pages here is the first and only page in the list
      @if type-of($children) != 'list' {
        @return join($acc, get-routes-for-page($children, $acc, $prefix));
      }

      @each $child in $children {
        $acc: join($acc, get-routes-for-page($child, $acc, $prefix));
      }
      @return $acc;
    }
  }
}

@function get-routes($config) {
  $routes: [];

  @if map-get($config, 'fallback') {
    $routes: join($routes, map-get($config, 'fallback'));
  }

  $pages: map-get($config, 'pages');

  @if type-of($pages) != 'list' {
    // Sass interprets a single value array as a single value
    // so $pages here is the first and only page in the list
    $routes: get-routes-for-page($pages);
    @return $routes;
  }

  @each $page in $pages {
    $routes: join($routes, get-routes-for-page($page));
  }

  @return $routes;
}

@function get-parent-routes($routes) {
  $parents: [];

  @each $route in $routes {
    $tokens: str-split($route, '/');
    @if length($tokens) > 2 {
      $parent: nth(partials($tokens), length($tokens) - 2);

      @if not index($parents, $parent) {
        $parents: append($parents, $parent);
      }
    }
  }

  @return $parents;
}
