@use 'sass:meta';
@use 'sass:list';
@use 'sass/router-helper' as *;
@use 'sass/get-routes' as *;

@mixin router($config) {
  $routes: get-routes($config);

  $pages: map-get($config, 'pages');

  @if map-has-key($config, 'fallback') {
    $pages: append($pages, map-get($config, 'fallback'));
  }

  @if type-of($pages) != 'list' {
    @if content-exists() {
      @include router-helper($pages) {
        @content;
      }
    } @else {
      @include router-helper($pages) {
        display: none;
        pointer-events: none;
      }
    }
  } @else {
    @each $page in $pages {
      @if content-exists() {
        @include router-helper($page) {
          @content;
        }
      } @else {
        @include router-helper($page) {
          display: none;
          pointer-events: none;
        }
      }
    }
  }
}

@mixin routeChild($routes...) {
  $selectors: '';
  @each $route in $routes {
    $selectors: $selectors + "[data-route-state='#{$route}'] &,";
  }

  @if $selectors != '' {
    #{$selectors} {
      @content;
    }
  }
}
