@use 'sass:list';
@use 'sass:meta';
@use 'sass/util' as *;
@use 'sass/child-selectors' as *;
@use 'sass/get-routes' as *;
@use '@tygr/switch';

@mixin router($config) {
  $routes: get-routes($config);

  @include switch.switch('route', $routes...) {
    @content;
  }

  @each $route in $routes {
    $routeEscaped: str-replace($route, '/', '__');
    $childSelectors: get-child-selectors($route);
    $notChildSelectors: get-child-selectors($route, true);

    @if $childSelectors != '' {
      &[data-route-#{$routeEscaped}] {
        #{$childSelectors} {
          @if (content-exists()) {
            // Let mixin consumer override default inactive state styles
            @content;
          } @else {
            display: none;
            pointer-events: none;
          }
        }
      }
    }

    @if $notChildSelectors != '' {
      &:not([data-route-#{$routeEscaped}]) {
        #{$notChildSelectors} {
          @if (content-exists()) {
            // Let mixin consumer override default inactive state styles
            @content;
          } @else {
            display: none;
            pointer-events: none;
          }
        }
      }
    }
  }
}

@mixin route($routes...) {
  @include switch('route', $routes...) {
    @content;
  }
}
