@use 'sass:list';
@use 'sass:meta';
@use 'sass/util' as *;
@use 'sass/get-selectors' as *;
@use 'sass/get-routes' as *;
@use '@tygr/switch';

@mixin router($config) {
  $routes: get-routes($config);

  @include switch.switch('route', $routes...) {
    @content;
  }

  @each $route in $routes {
    $childSelectors: get-child-selectors($route);

    @if $childSelectors != '' {
      &:not([data-route-state='#{$route}']) {
        #{$childSelectors} {
          @if (content-exists()) {
            // Let mixin consumer override default inactive state styles
            @content;
          } @else {
            display: none;
            pointer-events: none;
          }
        }
      }
    }
  }

  $parentSelectors: '';
  $parentRoutes: get-parent-routes($routes);
  @each $parent in $parentRoutes {
    $parentSelectors: $parentSelectors + get-parent-selectors($parent);
  }

  @if $parentSelectors != '' {
    #{$parentSelectors} {
      @if (content-exists()) {
        // Let mixin consumer override default inactive state styles
        @content;
      } @else {
        display: none;
        pointer-events: none;
      }
    }
  }
}

@mixin routeChild($routes...) {
  @include switch.switchChild('route', $routes...) {
    @content;
  }
}
